body {
    font-family: Arial, sans-serif;
    background-color: #F8EDE3;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #DFD3C3;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #8D493A;
}

.legenda {
    margin-top: 10px;
}

.legenda span {
    margin: 0 10px;
    font-weight: bold;
}

.cor {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.aldir {
    background-color: #597445;
}

.joao {
    background-color: #102C57;
}

.jhonnata {
    background-color: #803D3B;
}

.imagem-mapa {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.tabela-semanas {
    text-align: center;
    background-color: #D0B8A8;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #8D493A;
    padding: 10px;
    font-size: 1em;
}

th {
    background-color: #DFD3C3;
}

tr:nth-child(even) {
    background-color: #F8EDE3;
}
